{{page-title "AddProduct"}}
<div class="ui teal segment addForm" style="margin-top:53px;">
  <form class="ui form" {{action "save" @model.product @model on="submit"}}>
    <h2>Ajouter un produit</h2>
    <div class="field">
      <label>Nom du produit</label>
      <Input @value={{@model.product.name}} type="text" name="nom-produit" required="required" placeholder="Nom du produit"/>
    </div>
    <div class="field">
      <label>Description</label>
      <Textarea @value={{@model.product.comments}} name="comments-produit" placeholder="Commentaires"/>
    </div>
    <div class="field">
      <label>Stock</label>
      <Input @value={{@model.product.stock}} type="number" name="stock-produit" required="required" placeholder="Stock du produit"/>
    </div>
    <div class="field">
      <label>Prix</label>
      <Input @value={{@model.product.price}} type="number" name="price-produit" required="required" placeholder="Prix du produit"/>
    </div>
    <div class="field">
      <label>Image</label>
      <Input @value={{@model.product.image}} id="fileupload" name="myfile" type="file"/>
    </div>
    <button class="ui positive button" type="submit">Valider</button>
    <LinkTo class="ui negative button" @route="store.detail" @model={{@model.section.id}}>Annuler</LinkTo>
  </form>
</div>

{{outlet}}