{{page-title "Add"}}
<div class="ui segment">
  <form class="ui form" {{action "save" @model on="submit"}}>
    <div class="field">
      <label>Nom de la section</label>
      <Input @value={{@model.name}} type="text" name="nom-section" required="required" placeholder="Nom de la section"/>
    </div>
    <div class="field">
      <label>Description</label>
      <Textarea @value={{@model.description}} name="description" required="required" placeholder="Description"/>
    </div>
    <button class="ui button" type="submit">Valider</button>
    <a href="../../store/"><div class="ui button">Annuler</div></a>
  </form>

</div>
{{outlet}}