{{page-title "Detail"}}
<h4 class="ui horizontal divider header">
  <i class="box icon"></i>
  Section : {{@model.detailSection.name}}
</h4>
<div>
  <LinkTo class="ui button" @route="store.index">Retour aux sections</LinkTo>
  <LinkTo class="ui button" @route="store.add-product" @model={{@model.detailSection.id}}>Ajouter un produit</LinkTo>
</div>
<div class="ui seven cards cartesSection">
  {{#each @model.detailSection.products as |product|}}
    <div class="card">
      <div class="content">
        {{product.name}}
      </div>
      <div class="image" style="height: 200px">
        <img src="/images/{{product.image}}.jpg" class="card-img-top" alt="" />
      </div>
      <div class="meta">
        Prix :  {{product.price}}€
      </div>
      <div class="content">
        {{product.comments}}
      </div>
      <div class="extra content">
        <LinkTo class="ui button circular green icon" @route="store.edit-product" @model={{product.id}}><i class="icon edit"></i></LinkTo>
        <button {{action "delete" product.id}} class="circular ui icon red button">
          <i class="icon delete"></i>
        </button>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}