{{page-title "Detail"}}
<h4 class="ui horizontal divider header">
  <i class="box icon"></i>
  Section : {{@model.detailSection.name}}
</h4>
<div>
  <LinkTo class="ui button" @route="store.index">Retour aux sections</LinkTo>
  <a href="../../../store/add-product/{{@model.detailSection.id}}"><button class="ui button">Ajouter un produit</button></a>
</div>
<div class="ui seven cards cartesSection">
  {{#each @model.detailSection.products as |product|}}
    <div class="card">
      <div class="content">
        {{product.name}}
      </div>
      <div class="image" style="height: 200px">
        <img src="/images/{{product.image}}.jpg" class="card-img-top" alt="" />
      </div>
      <div class="meta">
        Prix :  {{product.price}}€
      </div>
      <div class="content">
        {{product.comments}}
      </div>
      <div class="content">
        <a href="../../store/edit-product/{{product.id}}">
          <button class="circular ui icon green button">
            <i class="icon edit"></i>
          </button>
        </a>
        <button {{action "delete" product.id}} class="circular ui icon red button">
          <i class="icon delete"></i>
        </button>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}