{{page-title "Edit"}}
<div class="ui green segment addForm">
  <form class="ui form" {{action "edit" @model.sectionToEdit on="submit"}}>
    <h2>Modifier la section</h2>
    <div class="field">
      <label>Nom de la section</label>
      <Input @value={{@model.sectionToEdit.name}} type="text" name="nom-section" required="required" placeholder="{{@model.sectionToEdit.name}}"/>
    </div>
    <div class="field">
      <label>Description</label>
      <Textarea @value={{@model.sectionToEdit.description}} name="description"placeholder="{{@model.sectionToEdit.description}}"/>
    </div>
    <button class="ui button" type="submit">Modifier</button>
    <a href="../../store/"><div class="ui button">Annuler</div></a>
  </form>
</div>
{{outlet}}