{{page-title "Index"}}
<div class="ui label">{{@model.connected.email}}</div>
<div class="ui blue segment">
  <LinkTo class="ui button" @route="store.add">Ajouter section</LinkTo>
  <table class="ui striped table">
    <thead>
    <th class="sectionNameStore">Section</th>
    <th>Description</th>
    <th class="sectionButtonStore"></th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    {{#each @model.sections as |section|}}
      <tr>
        <td>{{section.name}}</td>
        <td style="font-size: 11px">{{section.description}}</td>
        <td>
          <a href="../../store/detail/{{section.id}}">
            <button class="ui active button">
              <i class="eye icon"></i>
              Détails
            </button>
          </a>
        </td>
        <td>
          <button {{action "delete" section.id}} class="circular ui icon red button">
            <i class="icon delete"></i>
          </button>
        </td>
        <td>
          <a href="../../store/edit/{{section.id}}">
            <button class="circular ui icon green button">
              <i class="icon edit"></i>
            </button>
          </a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}