{{page-title "Index"}}
<div class="segment" style="margin-top:53px;">
  <LinkTo class="ui button" @route="store.add">Ajouter section</LinkTo>
  <LinkTo class="ui button" @route="store.add-pack">Ajouter un pack</LinkTo>
  <table class="ui striped table">
    <thead>
    <th class="sectionNameStore">Section</th>
    <th>Description</th>
    <th class="sectionButtonStore"></th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    {{#each @model.sections as |section|}}
      <tr>
        <td>{{section.name}}</td>
        <td style="font-size: 11px">{{section.description}}</td>
        <td>
          <LinkTo class="ui button icon" @route="store.detail" @model={{section.id}}><i class="eye icon"></i> Détails</LinkTo>
        </td>
        <td>
          <LinkTo class="ui button circular green icon" @route="store.edit" @model={{section.id}}><i class="icon edit"></i></LinkTo>
        </td>
        <td>
          <button {{action "delete" section}} class="circular ui icon red button">
            <i class="icon delete"></i>
          </button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
{{outlet}}