{{page-title "Section"}}
<div class="ui six cards">
  {{#each @model.section.products as |product|}}
    <div class="card" style="float: left">
      <div class="content">
        {{product.name}}
        <span class="right floated">
          <div class="ui checkbox">
            <input type="checkbox" name="example">
            <label></label>
          </div>
        </span>
      </div>
      <div class="image" style="height: 200px;margin: auto;">
        <img src="/images/{{product.image}}.jpg" class="card-img-top" alt="" />
      </div>
      <div class="content">
        <span class="right floated">
          <div class="ui vertical animated button" tabindex="0">
            <div class="hidden content">Modifier</div>
            <div class="visible content">
              <i class="edit icon"></i>
            </div>
          </div>
        </span>
        <i class="box icon"></i>
        {{product.stock}}
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}