{{page-title "Section"}}
<form {{action "multiUpdate" @model.section.products this._stock on="submit"}}>
  <div class="ui small action input" style="top: 47px;margin-left: 266px;position: fixed;z-index: 100;background-color:white;width: 100%;border:10px white solid">
    <div class="ui right pointing label">
      Ajout de stock pour plusieurs objets à la fois
    </div>
    <Input @value={{this._stock}} type="number" required="required" placeholder="Ajouter" />
    <button class="ui icon button" type="submit">
      <i class="plus icon"></i>
    </button>
  </div>
</form>
<br>
<div class="ui seven doubling cards" style="margin-left:266px;padding-top: 90px">
  {{#each @model.section.products as |product|}}
    <div class="card" style="float: left">
      <div class="content">
        {{product.name}}
      </div>
      <div class="image" style="height: 200px;margin: auto;">
        <img src="/images/{{product.image}}.jpg" class="card-img-top" alt="" />
      </div>
      <div class="content">
        <i class="box icon"></i>
        {{product.stock}}
        <span class="right floated">
          <div class="ui checkbox">
            <Input type="checkbox" name="example" {{action "checked" product on="change"}}/>
            <label></label>
          </div>
        </span>
      </div>
      <div class="content">
        <form {{action "update" product stock on="submit"}}>
          <div class="ui mini action input">
            <Input @value={{product._stock}} style="width:70%;" required="required" type="number"
                   placeholder={{product.stock}}/>
            <button type="submit" style="width:30%;" class="ui button" tabindex="0">
              <i class="plus icon"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}