{{page-title "DetailCommande"}}
<div class="ui segment">
  <h1>Préparation de commande</h1>
  Commande N°{{@model.order.id}},  {{@model.order.itemsNumber}} Produits
  <div class="ui celled  ordered list">
    {{#each this.sections as |section|}}
     <div class="item">{{section.value}}
       <div class="list">
         {{#each section.items as |od|}}
         <div class="item">{{od.product.name}}  Quantity : {{od.quantity}}  </div>
         {{/each}}
       </div>
     </div>
   {{/each}}
  </div>
</div>
{{outlet}}