{{page-title "AddPack"}}
<div class="ui teal segment addForm" style="margin-top:53px;">
  <form class="ui form" {{action "save" @model.product on="submit"}}>
    <h2>Ajouter un pack</h2>
    <div class="field">
      <label>Nom du pack</label>
      <Input @value={{@model.product.name}} placeholder="Nom du pack"/>
    </div>
    <div class="field">
      <label>Produits du pack</label>
      <UiDropdown class="selection search multiple" @selected={{@model.product.packs}} @onChange={{fn (mut @model.product.packs)}} as |execute mapper|>
        <div class="default text">Produits</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each @model.products as |product|}}
            <div data-value="{{map-value mapper product}}" class="item">
              {{product.name}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
    <div class="field">
      <label>Section du pack</label>
      <UiDropdown class="selection search" @selected={{@model.product.section}} @onChange={{fn (mut @model.product.section)}} as |execute mapper|>
        <div class="default text">Section</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each @model.sections as |section|}}
            <div data-value="{{map-value mapper section}}" class="item">
              {{section.name}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
    </div>
    <div class="field">
      <label>Prix</label>
      <Input @value={{@model.product.price}} type="number" name="price-produit" required="required" placeholder="Prix du pack"/>
    </div>
    <div class="field">
      <label>Promotion</label>
      <Input @value={{@model.product.promotion}} type="number" name="promotion-produit" placeholder="Promotion du pack"/>
    </div>
    <button type="submit" class="ui positive button">Valider</button>
    <LinkTo class="ui negative button" @route="store.index">Annuler</LinkTo>
  </form>
</div>
{{outlet}}