{{page-title "Add"}}
  {{#ui-modal class="ui modal"}}
    <form class="ui form" {{action "save" @model on="submit"}}>
      <h2>Ajouter une section</h2>
      <div class="field">
        <label>Nom de la section</label>
        <Input @value={{@model.name}} type="text" name="nom-section" required="required" placeholder="Nom de la section"/>
      </div>
      <div class="field">
        <label>Description</label>
        <Textarea @value={{@model.description}} name="description" required="required" placeholder="Description"/>
      </div>
      <button class="ui positive approve button" type="submit">Valider</button>
      <LinkTo class="ui deny negative button" @route="store">Annuler</LinkTo>
    </form>
  {{/ui-modal}}
{{outlet}}