{{page-title "DeleteSection"}}
  <div class="ui clearing segment" style="margin-top:53px;">
    <div class="ui icon header center aligned">
      <i class="question icon"></i>
      La section "{{@model.sectionDelete.name}}" va être supprimée, mais elle comporte des produits, que voulez-vous faire de ces {{@model.sectionDelete.products.length}} produits ? La section sera ensuite supprimée.
    </div>
    <div class="inline">
      <div class="ui green button" {{action "deleteAll" @model.sectionDelete.id}}>Supprimer ces produits</div>
    </div>
    <div class="ui horizontal divider">
      Ou
    </div>
    <div class="inline">
      <form {{action "changeAll" @model.sectionDelete.id @model.secToChange on="submit"}}>
      <UiDropdown class="selection search" @selected={{@model.secToChange}} @onChange={{fn (mut @model.secToChange)}} as |execute mapper|>
        <div class="default text">Section</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each @model.sections as |section|}}
            <div data-value="{{map-value mapper section}}" class="item">
              {{section.name}}
            </div>
          {{/each}}
        </div>
      </UiDropdown>
      <button class="ui orange button" type="submit">Les déplacer dans une autre catégorie</button>
      </form>
    </div>
    <UiProgress @percent="{{this.percent}}" @total="{{this.taille}}" class="teal indicating">
      <div class="bar"></div>
    </UiProgress>
    {{#if this.activeImg}}
      <img src="/images/{{this.activeImg}}.jpg" class="ui medium image">
    {{/if}}
    <LinkTo class="ui negative button right floated" @route="store.index">Annuler</LinkTo>
  </div>
{{outlet}}