{{page-title "Edit"}}
{{#ui-modal class="ui modal"}}
    <form class="ui form" {{action "edit" @model.sectionToEdit on="submit"}}>
      <h2>Modifier la section</h2>
      <div class="field">
        <label>Nom de la section</label>
        <Input @value={{@model.sectionToEdit.name}} type="text" name="nom-section" required="required"/>
      </div>
      <div class="field">
        <label>Description</label>
        <Textarea @value={{@model.sectionToEdit.description}} name="description"></Textarea>
      </div>
      <button class="ui positive button" type="submit">Modifier</button>
      <LinkTo class="ui negative button" @route="store">Annuler</LinkTo>
    </form>
{{/ui-modal}}
{{outlet}}