{{page-title "Store"}}
<div class="nav">
  <div class="ui inverted secondary pointing menu">
    <a class="ui item" href="../../../../accueil">
      Accueil
    </a>
    <a class="ui item" href="../../../../gestionStock">
      Gestion du Stock
    </a>
    <a class="ui item" href="../../../../store">
      Gestion du Store
    </a>
    <a class="ui item" href="../../../../dashboard">
      Gestion des Commandes
    </a>
    <a class="ui item" href="../../../../gestionEmployee">
      Gestion des Employés
    </a>
    {{#if @model.connected.email}}
      <div style="margin-left: 65rem">
        <a class="ui item" href="../../../../">
          <div class="ui label">{{@model.connected.email}}</div>
        </a>
      </div>
      <div class="right menu">
        <a {{action "logout" on="click"}} class="ui item" href="../../../../">
          <div class="ui label">Logout</div>
        </a>
      </div>
    {{else}}
      <div class="right menu">
        <a class="ui item" href="../../../../">
          <div class="ui label">Login</div>
        </a>
      </div>
    {{/if}}
  </div>
</div>
{{outlet}}