{{page-title "Dashboard"}}
  {{#each @model.employees as |employee|}}
    {{#if (eq @model.connected.email employee.email)}}
      <div><h1>Employé : {{employee.name}}</h1></div>
      <div class="ui segment">
        <table class="ui striped table">
          <thead>
          <th class="numCommande">N° Commande</th>
          <th>Date Création</th>
          <th>Statut</th>
          <th class="sectionButtonStore"></th>
          <th></th>
          <th></th>
          </thead>
          <tbody>
          {{#each employee.orders as |order|}}
            <tr>
              <td>{{order.id}}</td>
              <td style="font-size: 11px">{{order.dateCreation}}</td>
              <td>{{order.status}}</td>
              <td>
                <a href="../../dashboard/detail-commande/{{order.id}}" >
                  <button class="ui active button">
                    <i class="eye icon"></i>
                    Détails
                  </button>
                </a>
              </td>
              <td>
                <button {{action "delete" order.id}} class="circular ui icon red button">
                  <i class="icon delete"></i>
                  Annuler Commande
                </button>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  {{/each}}
{{outlet}}